body {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-size: 50px;
  margin-bottom: 58px;
}

h3 {
  font-size: 25px;
  margin-bottom: 38px;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  background: url('../img/header-bg.jpg') no-repeat center top / cover;
  padding-top: 57px;
}

header a {
  color: #fff;
}

.menu {
  display: flex;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.menu li {
  margin-right: 40px;
}

.tel {
  font-size: 17px;
  text-decoration: none;
  margin-left: auto;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 69px;
}

.offer {
  color: #fff;
  text-transform: uppercase;
  margin-top: 216px;
  padding-bottom: 322px;
}

.offer p {
  font-size: 30px;
  letter-spacing: 0.1em;
}

.offer h1 {
  font-style: normal;
  font-size: 100px;
  margin-top: -9px;
  letter-spacing: 0.02em;
}

.btn {
  display: block;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  margin-top: 15px;
  border: 1px solid #FFFFFF;
  padding: 18px 23px;
  width: 238px;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #fff;
  color: black;
}

.burger-menu {
  display: none;
}

.burger-menu button {
  border: none;
  outline: none;
  background-color: transparent;
}

.burger-items {
  position: absolute;
}

.burger-items a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.disp {
  display: none;
}

section {
  padding-top: 113px;
  padding-bottom: 114px;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  margin: 0 0;
  
}

.desc-left, .desc-right {
  width: 564px;
}

.gallery {
  margin-top: 67px;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
}

.footer-text p {
  margin-right: 67px;
}

@media (max-width: 1230px) {
  .gallery {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery img {
    margin-right: 28px;
  }

  .img-3 {
    margin-top: 38px;
  }

  .container {
    width: 800px;
  }

  .description {
    display: block;
  }

  .desc-right, .desc-left {
    margin-left: 0px;
    width: auto;
  }
  .desc-right {
    margin-top: 38px;
    letter-spacing: 0.01em;
  }

}

@media (max-width: 1000px) {
  
  .menu, .tel {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .nav {
    justify-content: space-between;
  }

  .btn {
    font-size: 30px;
    border: 5px solid #FFFFFF;
    padding: 15px;
    width: 340px;
    transition: all 0.5s ease;
  }
}